
.ynk-playback-control{
    background-color: #eee;
    font-family: '微软雅黑', 'Microsoft Yahei', '黑体', sans-serif;
    font-weight: bold;
    font-size: medium;
    border-top: 1px solid #ccc;
    padding: 1em;
}

li:hover {
    background-color: #f7f7f7;
}